* {
    box-sizing: border-box;
}

body {
    background-color: #B5B5B5;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.container__form {
    display: flex;
    flex-direction: column;
}

.container__form-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #474747;
}

.container__form-input {
    margin-top: 5px;
    padding: 10px;
    width: 300px;
    height: 35px;
    border-radius: 91px;
    border: 0px;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    background-color: #fff;
    color: #474747;
}

.container__form-button {
    height: 30px;
    margin-top: 49px;
    font-family: Montserrat;
    align-items: center;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    border: 0px;
    border-radius: 91px;
    background-color: #474747;
    color: #fff;
    cursor: pointer;
}

.container__title {
    margin: 0 auto;
    font-family: Montserrat;
    font-size: 37px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0em;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 1px 4px 15px #474747;
    cursor: default;
}

.container__registration {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    margin-top: 20px;
    cursor: default;
}

.container__registration-link {
    padding-top: 5px;
    text-decoration: none;
    color: #fff;
}
